.container-fluid {
    padding-left: 0px;
}

.nav-sidebar {
    background-color: #f5f5f5;
    left: 0;
    width: 75px;
    width: 15vw;
}

.menu-tab {
    text-align: center;
    height: 20vh;
    width: 15vw;
    font-size: 8.5vw;
    background-color: #22527B;
    color: white;
}

.menu-tab-selected {
    background-color: white;
    color: #22527B;
}

#main {
    padding: 0;
    margin: 0;
}

#first_time_setup {
    padding: 5px;
}

#printing {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: black;
}